models/*

project.zip

xiugo_submit.tar

runDocker

score_local.py

cudatest.py

project/*

checkmodel.py

package.sh 

compress.py

logs/*

shit.py

load_m.py

img2imgcopy.py

img2img.py 

img2img_test.py 

gpuhold.py 

compress.py  