workdir/
data/
models/
logs/*
log*/
*__pycache__
model_output/*
outputs/
model_output_test/
tomesd/
output_test/
real_reg/*

train_data/*
train_data_crop/*

our_image_outputs/
our_imageoforigin2/
our_json_imageoforigin2/
our_json_outputs/
other_models/*
old_train_data/

## weights anf lib
CLIP/
!CLIP/.git/

.cache/
.insightface

train_data/

real_reg/

huggingface/*
bench_samples_standard/*
bench_samples/*
project/

xiugou.tar
xiugo_submit.tar

xiugo_submit.tar.gz

clip_img.pt
img.pt

project.zip

train_data_crop/*

nnet.pt

image_outputs/
ImageReward/*

home/

final_test/

final_json_data/

final_evaluation/
eval_prompts_advance/

bench_samples/*

bench_samples_standard/*

aaaaaaasaveresults/

abase_image_outputs/
abase_json_outputs/

test_data/

test_json_out/

combined_output.txt

compress.__pycache__
img2imgcopy.__pycache__
load_m.__pycache__
load_model_output.txt
removebg.py 

removeple_fnn.py
run_local.sh 

runDocker 
sample_bench.py 
score_local.py 

score_oldone.py 
score_output.txt 
shit.py 
shitshit.py 
total_time.txt 


gpuhold/
